@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 243 244 246;
  --foreground: 17 24 39;
  --card: 255 255 255;
  --card-foreground: 17 24 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 237 237 237; 
    --card: 20 20 20;
    --card-foreground: 237 237 237;
  }
}